body, html {
	height: 100%;
	width: 100%;
	background-color: grey;
}



.layer1{
	background-color: blue;
	height: 7%;
	position: relative;
	border-style: solid;
    border-width: 2px 10px 4px 20px;
    border-color: navy;
}

.top{
   /*padding: 40px 40px 35px 43px;*/
   position: absolute;
   bottom:0;
   left:0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   width:1000px;
   height: 80%;
   border-style: solid;
   border-width: 2px 10px 4px 20px;
   border-color: navy;
}



.topleft{
	/*position:absolute;*/
	/*bottom: 0;*/
	/*left: 10%;*/
	background-color: blue;
	font-size: 35px;
	float:left;
	color:yellow;
	width: 15%;
	text-align: center;
	margin: auto

}
.topmiddle{
	float:left;
	width:60%;
	background-color: yellow;
}




.topright{
	margin-top:15px;
	float:right;
	color:pink;	
	width: 25%;
	text-align: right;

	background-color: pink;
}