body, html {
	height: 100%;
	width: 100%;
	background-color: #26457F;
}

.layer1{
	background-color: #0046CC;
	height: 7%;
	width:100%;
	position: relative;
	border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    padding-bottom: 2px;
}

.top{
   /*padding: 40px 40px 35px 43px;*/
   position: absolute;
   background-color: #0046CC;
   bottom:0;
   left:0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   width:960px;
   height: 50px;
   border-style: solid;
   /*border-width: 2px 0px 0px 20px;*/
   border-color: navy;
}



.topleft{
	position:absolute;
	bottom: 0;
	left:0;
	background-color: #26457F;
	font-size: 35px;
	color:#4C8AFF;
    padding: 5px;
    padding-right: 15px; 
    padding-left:15px;
}

/*
.topmiddle{
	float:left;
	width:60%;
	background-color: yellow;
}
*/

.topright{
	position:absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	padding-top: 3px;
	padding-right: 13px; 
    padding-left:13px;
}

.container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:960px;
	background-color: white;
	height: 95%;

}


.content{
	position: absolute;
	top: 5%;
	left: 0;
	width:650px;
	height: 300px;	
	background-color:pink;
}


.sidebar{
	position: absolute;
	top: 5%;
	right:0;
	width:270px;
	height:300px;
	background-color: black;

}