*{
	align-content: center;
}

.top{
	background-color: teal;
	/*padding: 40px 40px 35px 43px;*/
	height:75px;
	/*position: relative;*/
	margin:0 auto;
}

.topleft{
	/*position:absolute;*/
	/*bottom: 0;*/
	/*left: 10%;*/
	background-color: blue;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 35px;

	color:yellow;
	padding-bottom: 0px;
}
.topmiddle{
	float:left;
	width:500px;
}

.topright{
	margin-top:15px;
	float:left;
	color:pink;	
}